{% extends 'base.html.twig' %}

{% block title %}Hello CreateArticleController!{% endblock %}

{% block body %}

{{ form_start(form) }}
{{ form_row(form.titre,{'label': 'Titre', 'attr': {'placeholder' : 'Titre ...'}})}}
{{ form_row(form.contenu,{'label': 'Contenu', 'attr': {'placeholder' : 'Contenu ...'}})}}
{{ form_widget(form.image) }}
<button type="submit" class="btn btn_success">Souscrire</button>
{{ form_end(form) }}

{% endblock %}
